html, body {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
}

form {
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 15px;
}

input {
	margin-bottom: 15px;
	padding: 10px 0;
}

h1 {
	color: cornflowerblue;
}

button {
	margin: 0 5px;
	color: white;
	background-color: cornflowerblue;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
}

th, td {
	padding: 15px;
}

td button:not(:first-child) {
	background-color: indianred;
}

.container {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.logo {
	max-height: 50px;
	max-width: 50px;
}

.userEdit {
	display: flex;
	flex-direction: column;
	align-items: center;
}
