html, body {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
}

form {
	display: grid;
	grid-auto-rows: 35px;
	margin: auto;
}

input {
	margin: auto;
	padding: auto;
}

h1 {
	color: cornflowerblue;
}

button,
.button {
	margin: 0 5px;
	color: white;
	background-color: cornflowerblue;
	border: none;
	border-radius: 15px;
	padding: 5px;
}

td button:not(:first-child) {
	background-color: indianred;
}

.logo {
	max-height: 50px;
	max-width: 50px;
}

.userEdit {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}
